
@{
    ViewBag.Title = "Сокращенный URL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>К сожалению, ссылка, к которой вы обратились, не существует в нашем сервисе.</p> 
<p>Помните, что наши сокращенные ссылки чувствительны к регистру и могут содержать буквы и цифры.</p>
